@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: calc(100vh - 4rem);
  background-color: hsla(0, 0%, 100%, 0);
  background-image: linear-gradient(180deg, #f0ede4, #f8f7f3 31.77%, hsla(0, 0%, 100%, 0));
  background-repeat: no-repeat;
}

/* remove the increment and decrement buttons on a number input field */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 6'%3E%3Cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1 1 4 4 4-4'/%3E%3C/svg%3E");
  background-position: right 1.25rem center;
  background-repeat: no-repeat;
  background-size: 0.75em 0.75em;
}
